<div class="row">
  <div class="small-12 column">
    <h1>Find out how much you can earn from SOLAR</h1>
  </div>
  <div class="small-12 column">
    <div id="map" style="display:none !important;"></div>
    <div id="search"></div>
    <%= form_tag search_location_path, :id => 'postal_code_form', :method => :get do %>
      <%= hidden_field_tag :postal_code %>
      <span id="form_submit" href="#!" class="submit-button">Find my roof!</span>
    <% end %>
  </div>
</div>

 <script src="http://js.arcgis.com/3.13/"></script>
<script type="text/javascript">
  require([
    "esri/map",
    "esri/dijit/Search",
    "dojo/domReady!"
  ], function (Map, Search) {
     var map = new Map("map", {
        basemap: "gray",
        center: [-120.435, 46.159], // lon, lat
        zoom: 7
     });

     var s = new Search({
        map: map
     }, "search");
     s.startup();

  });

  $(window).load(function() {
    $("#form_submit").click(function(e) {
      var si = $("#search_input").val();
      $("#postal_code").val(si);
      $("#postal_code_form").submit();
    });
  });
</script>
