<div>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "liksolar", root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <%= link_to "Home", "/" %>
        </li>
        <li>
          <%= link_to "Make a Graph", "/graph_init/", :id => "graph_link" %>
        </li>
      </ul>
    </section>
  </nav>
</div>

<script>
  $('#graph_link').click(function(e) {
    var area = $.trim($('.dijitContentPane.result').text()).split(" ")[0];
    if (area.length !== 0) {
      e.preventDefault();
      window.location.href = '/graph_init?roof_area=' + area;
    }
  });
</script>
